{% extends "base.html" %}

{% block sidebar %} <style type="text/css"> </style> {% endblock %}

{% block content %}
    <style type="text/css">
        .pagination { margin-top: 20px; margin-left: -20px; }
        .main { margin-left: 25px; margin-top: 30px; width: 700px; }
        .title { font-size: 1.4em; margin-top: 0px; padding-left: 4px; }
        .last { border: 0px; }
        .title a { text-decoration: none; }
        .button { background: #999; color: white; padding: 4px; text-decoration: none; }
        .buttont { background: #999; color: white; padding: 2px; text-decoration: none; }

        td { border-bottom: 1px solid #ccc; }
        #list { border: 1px solid #ccc; width: 700px; }
        #new_topic { float: right; }
    </style>
 <div class="main">
<!-- Respostas  -->
<div class="title">{{ titulo }}</div>
<div class="explicacao">{{ explicacao }}</div>
<div id="list">

    {% for resposta in respostas %}
        <div class="post">
            <hr>
            respondido por {{ resposta.criador }} | <span class="date">{{ resposta.dtCriacao }}</span> <br /><br />
            {{ resposta.texto }} <br />
        </div>
    {% endfor %}
</div>

<a class="button" href={% url 'postar' 'responder' pk %}>Responder</a>
</div>
{% endblock %}
