{% extends "modelo.html" %}
<meta charset="utf-8" xmlns="http://www.w3.org/1999/xhtml">
{% block corpo %}
<!-- Corpo -->
<script language=javascript>

function buscarPerguntas(e){
	if (e.keyCode == 13) {
		busca = document.getElementById('buscaperguntas').value
		Dajaxice.QSabeApp.searchperguntas(atualizaPerguntas,{'busca':busca, 'idarea':{% if area %} {{area.id}} {% else %} '0' {% endif %}});
	}
}

function atualizaPerguntas(data){
    if(data!=Dajaxice.EXCEPTION){
        document.getElementById('divperguntas').innerHTML = data.listgroup;
    }
    else{
        alert('Error');
    }
}

</script>

<div class="container">
	<div class="row">
		<div class="col-xs-4 col-lg-4">
			<div id="divareas">
				<div id="lgareas" class="list-group">
					<a href="#" class="list-group-item active">Áreas de Conhecimento:</a>
					{% for a in areas %}
					<div id="liareas" class="list-group-item">
						{{a}} <a
							class="btn pull-right btn-default btn-xs"
							href="/qsabe/area/{{a.id}}/"><i class="fa fa-file-o"></i><font
							face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
					</div>
					{% endfor %} <a class="list-group-item active"></a>
				</div>
			</div>
		</div>
		<div class="col-xs-4 col-lg-8">
		<input id="buscaperguntas" type="text" class="form-control "
					placeholder="Aperte Enter " onkeypress="buscarPerguntas(event) ">
			<div id="divperguntas">
				<div id="lgperguntas " class="list-group ">
					<a href="# " class="list-group-item active ">Perguntas:</a>
					{% for p in perguntas %}
					<div id="liperguntas " class="list-group-item ">
						{{ p }} <a
							class="btn pull-right btn-default btn-xs "
							href="/qsabe/pergunta/{{p.id}}/ "><i class="fa fa-file-o "></i><font
							face="FontAwesome "><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
					</div>
					{% endfor %} <a class="list-group-item active "></a>
				</div>
			</div>
		</div>
	</div>
	<!-- Fim Corpo -->
{% endblock %}