{% extends "modelo.html" %}
{% block corpo %}
<!-- Corpo -->
<div class="container">
	<div class="row">
		<div class="col-xs-4 col-lg-4">
			<div id="divareas">
				<div id="lgareas" class="list-group">
					<a href="#" class="list-group-item active">&Aacute;reas de
						Conhecimento:</a>{% for fic in fichamentos %}
					<div id="liareas" class="list-group-item">
						{{fic.titulo_fichamento}} <a
							class="btn pull-right btn-default btn-xs"
							href="/sabia/fichamento/{{fic.id}}/"><i class="fa fa-file-o"></i><font
							face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
					</div>
					{% endfor %} <a class="list-group-item active"></a>
				</div>
			</div>
		</div>
		<div class="col-xs-4 col-lg-8">
			<div id="divperguntas">
				<input id="buscaperguntas type=" text " class="form-control "
					placeholder="Aperte Enter " onkeypress="buscarPerguntas(event) ">
				<div id="lgperguntas " class="list-group ">
					<a href="# " class="list-group-item active ">Questionamentos:</a>
					{% for art in artigos %}
					<div id="liperguntas " class="list-group-item ">
						{{art.titulo_artigo}} <a
							class="btn pull-right btn-default btn-xs "
							href="/sabia/artigo/{{art.id}}/ "><i class="fa fa-file-o "></i><font
							face="FontAwesome "><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
					</div>
					{% endfor %} <a class="list-group-item active "></a>
				</div>
			</div>
		</div>
	</div>
	<!-- Fim Corpo -->
{% endblock %}