{% extends "modelo.html" %}
{% block corpo %}
<!-- Corpo -->
<div class="container">
	<div class="row">
		<div class="col-xs-4 col-lg-12">
			<form class="form-signin" role="form" method="post" action="{% url 'goCadastrar' %}">
				{% csrf_token %}
				<h2 class="form-signin-heading">
					Seja bem vindo!
					</h2>
						<h3>Temos certeza que voce ira adorar fazer parte desta
							comunidade.</h3>
						{% if sucess_message %}
						<div class="alert alert-success" role="alert">{{sucess_message}}
						</div>
						{% endif %} {% if error_message %}
						<div class="alert alert-danger" role="alert">{{error_message}}
						</div>
						{% endif %} <input type="text" class="form-control"
							placeholder="Primeiro Nome..." required name="primeiroNome"
							autocomplete="off" autofocus="true"> <br> <input
							type="text" class="form-control" placeholder="Ultimo Nome..."
							required name="ultimoNome" autocomplete="off" autofocus="true">
						<br> <input type="text" class="form-control"
							placeholder="Nome de Usuario..." required name="nomeUsuario"
							autocomplete="off" autofocus="true"> <br> <input
							type="password" class="form-control" placeholder="Senha..."
							required name="senhaUsuario" autocomplete="off" autofocus="true">
						<br> <input type="email" class="form-control"
							placeholder="Email..." required name="emailUsuario"
							autocomplete="off" autofocus="true"> <br> <input
							type="lattes" class="form-control"
							placeholder="Url do seu Lattes..." required name="urlLattes"
							autocomplete="off" autofocus="true"> <br>
						<textarea class="form-control"
							placeholder="Fale um pouco sobre voce..." rows="3"
							name="dadosAdicionais" autocomplete="off"></textarea>
						<br>
						<button type="submit" class="btn btn-primary">
							<i class="fa fa-user"></i> Quero fazer parte ;)
						</button>
			</form>
			<br>
		</div>
	</div>
</div>
<!-- Fim Corpo -->
{% endblock %}
