{% extends "modelo.html" %}  
{% block corpo %}
    <!-- Corpo -->
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-lg-4" align="center">
          <img src="http://www.clker.com/cliparts/d/L/P/X/z/i/no-image-icon-hi.png" class="img-circle" width="150">
          <table class="table">
            <thead>
              <tr>
                <th>Ol&aacute;, {{ request.user.first_name }} {{request.user.last_name}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{% if usuarioInfo %} {{ usuarioInfo.informacoes_usuario }} {% endif %}</td>
              </tr>
              <tr>
                <td>Lattes: <a>Clique aqui</a>
                </td>
              </tr>
            </tbody>
          </table>
          <p></p>
          <p style></p>
        </div>
        <div class="col-xs-4 col-lg-4">
          <div id="divpendencias">
            <div id="lgpendencias" class="list-group">
              <a href="#" class="list-group-item active">Pend&ecirc;ncias:</a>{% for fic in fichamentos %}
              <div id="lipendencias" class="list-group-item">{{fic.titulo_fichamento}}
                <a class="btn pull-right btn-default btn-xs" href="/sabia/fichamento/{{fic.id}}/"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
              </div>{% endfor %}
              <a class="list-group-item active"></a>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-lg-4">
          <div id="divperguntas">
          <input id="buscaperguntas type="text" class="form-control" placeholder="Aperte Enter" onkeypress="buscarPerguntas(event)">
            <div id="lgperguntas" class="list-group">
              <a href="#" class="list-group-item active">Minhas perguntas:</a>
              {% for art in artigos %}
              <div id="liperguntas" class="list-group-item">{{art.titulo_artigo}}
                <a class="btn pull-right btn-default btn-xs" href="/sabia/artigo/{{art.id}}/"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
              </div>{% endfor %}
              <a class="list-group-item active"></a>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-lg-4">
          <div id="divrecomenda">
            <div id="lgrecomenda" class="list-group">
              <a href="#" class="list-group-item active">Perguntas interessantes:</a>{% for art in artigos %}
              <div id="lirecomenda" class="list-group-item">{{art.titulo_artigo}}
                <a class="btn pull-right btn-default btn-xs" href="/sabia/artigo/{{art.id}}/"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
              </div>{% endfor %}
              <a class="list-group-item active"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fim Corpo -->
    {% endblock %}