{% extends "modelo.html" %}
<meta charset="utf-8" xmlns="http://www.w3.org/1999/xhtml">
{% block corpo %}
<!-- Corpo -->
<script language=javascript>
function mudatextopergunta(data){
	document.getElementById('perguntatitulo').textContent  = data.titulo;
	document.getElementById('perguntadescricao').textContent  = data.descricao;
}

function traduz(e){
	Dajaxice.QSabeApp.traduzir(mudatextopergunta,{'titulo':document.getElementById('perguntatitulo').textContent ,'descricao':document.getElementById('perguntadescricao').textContent});
}
</script>

<div class="container">
	<div class="row">
		<div class="col-xs-3 col-lg-4" align="center">
			<img
				src="http://www.clker.com/cliparts/d/L/P/X/z/i/no-image-icon-hi.png"
				class="img-circle" width="150">
			<table class="table">
				<thead>
					<tr>
						<th>Olá, {{ request.user.first_name }}
							{{request.user.last_name}}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{% if perfil %} {{ perfil.sobre }} {% endif %}</td>
					</tr>
					<tr>
						<td>Lattes: <a href='http://{% if perfil %}{{ perfil.lattes }}{% endif %}'>Clique aqui</a>
						</td>
					</tr>
				</tbody>
			</table>
			<p></p>
			<p style></p>
		</div>
		<div class="col-xs-4 col-lg-4">
		<div class="col-xs-4 col-lg-12">
			<div id="divpendencias">
				<div id="lgpendencias" class="list-group">
					<a href="#" class="list-group-item active">Pendências:</a>
					{% for tarefa in tarefas %}
						<div id="lipendencias" class="list-group-item">
						{{tarefa.pergunta}} <a class="btn pull-right btn-default btn-xs"
							href="/qsabe/pergunta/{{tarefa.pergunta.id}}/"><i class="fa fa-file-o"></i><font
							face="FontAwesome"><span style="line-height: 15px;">&nbsp;Responder</span></font></a>
					</div>
					{% endfor %} <a class="list-group-item active"></a>
				</div>
			</div>
		</div>
		<div class="col-xs-4 col-lg-12">
			<div id="divrecomenda">
				<div id="lgrecomenda" class="list-group">
					<a href="#" class="list-group-item active">Perguntas
						interessantes:</a>
						{% for legal in interessantes %}
						<div id="lirecomenda" class="list-group-item">
							{{legal}} <a class="btn pull-right btn-default btn-xs"
							href="/qsabe/pergunta/{{legal.id}}/"><i class="fa fa-file-o"></i><font
							face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
					</div>
					{% endfor %} <a class="list-group-item active"></a>
				</div>
			</div>
		</div>
		</div>
		<div class="col-xs-4 col-lg-4">
			<div id="divperguntas">
				<input id="buscaperguntas type=" text" class="form-control"
					placeholder="Aperte Enter" onkeypress="buscarPerguntas(event)">
				<div id="lgperguntas" class="list-group">
					<a href="#" class="list-group-item active">Minhas perguntas:</a>
					{% for pergunta in perguntas %}
						<div id="liperguntas" class="list-group-item">
						{{pergunta}} <a class="btn pull-right btn-default btn-xs"
							href="/qsabe/pergunta/{{pergunta.id}}/"><i class="fa fa-file-o"></i><font
							face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
					</div>
					{% endfor %} <a class="list-group-item active"></a>
				</div>
			</div>
		</div>
		
	</div>
</div>
<!-- Fim Corpo -->
{% endblock %}
