{% extends "modelo.html" %}
<meta charset="utf-8" xmlns="http://www.w3.org/1999/xhtml">
{% block corpo %} 
<!-- Corpo -->
<div class="container">
    <div class="jumbotron">
		<div class="row">
        	<div class="col-xs-8 col-lg-4">
        	
				{% if not user.is_authenticated %}
					{% if form.errors %}
			            <p>Dados incorretos. Tente novamente</p>
			        {% endif %}
                   	<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                   		{% csrf_token %}
                        <div class="form-group">
                        	{{ form.username.label_tag }}: 
                        	{{ form.username }}
                        </div>
                        <div class="form-group">
                        	{{ form.password.label_tag }}: 
                            {{ form.password }}
                        </div>
						<input type="hidden" name="next" value="{{ next }}" />
                        <button type="submit" class="btn btn-success">Entrar</button>
                    </form>
      			{% endif %}
      			{% if user.is_authenticated %}
      				{{user.username}}, Voce ja esta logado. Deseja sair?<br/>
      				<a class="btn btn-success" href="/qsabe/logout/">Sair</a>
				{% endif %}
                    
        	</div>
        	<div class="col-xs-8 col-lg-8">
		        <div class="container">
		            <h1>Hello, world!</h1>
		            <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
		            <p><a class="btn btn-primary btn-lg">Crie sua conta &raquo;</a></p>
		        </div>
			</div>
		</div>
    </div>
<!-- Fim Corpo -->
{% endblock %}
            
            
           