{% extends "modelo.html" %}
<meta charset="utf-8" xmlns="http://www.w3.org/1999/xhtml"> 
{% block corpo %}
    <!-- Corpo -->
    <div class="container">
      <div class="row">
        <div class="col-xs-4 col-lg-8">
          <div id="divperguntas">
            <h2>Aqui ira aparecer a pergunta que sera respondida.</h2>
            <h6>Area de conhecimento.</h6>
            <div id="lgrespostas" class="list-group">
              <a href="#" class="list-group-item active">Respostas:</a>{% for fic in fichamentos %}
              <div id="lirespostas" class="list-group-item">
              <div class="row">
              <p class="col-xs-10 col-lg-4">{{fic.titulo_fichamento}}</p>
              <a class="col-xs-2 col-lg-4 btn btn-default btn-xs" href="/sabia/fichamento/{{fic.id}}/"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Gostei</span></font></a>
              </div>
              <div class="row">
              <input class="col-xs-10 col-lg-4" type="text" >
              <a class="col-xs-2 col-lg-4 btn btn-default btn-xs" href="/sabia/fichamento/{{fic.id}}/"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Comentar</span></font></a>
              
                
              </div>
              </div>{% endfor %}
              <a class="list-group-item active"></a>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-lg-4">
          <div id="divareas">
            <div id="lgareas" class="list-group">
              <a href="#" class="list-group-item active">Perguntas semelhantes:</a>{% for fic in fichamentos %}
              <div id="liareas" class="list-group-item">{{fic.titulo_fichamento}}
                <a class="btn pull-right btn-default btn-xs" href="/sabia/fichamento/{{fic.id}}/"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
              </div>{% endfor %}
              <a class="list-group-item active"></a>
            </div>
          </div>
          <div id="divartigos">
            <div id="lgartigos" class="list-group">
              <a href="#" class="list-group-item active">Artigos relacionados:</a>{% for fic in fichamentos %}
              <div id="liartigos" class="list-group-item">{{fic.titulo_fichamento}}
                <a class="btn pull-right btn-default btn-xs" href="/sabia/fichamento/{{fic.id}}/"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
              </div>{% endfor %}
              <a class="list-group-item active"></a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <!-- Fim Corpo -->
{% endblock %}