{% extends "modelo.html" %}
<meta charset="utf-8" xmlns="http://www.w3.org/1999/xhtml"> 
{% block corpo %}
    <!-- Corpo -->
    <div class="container">
      <div class="row">
        <div class="col-xs-4 col-lg-8">
          <div id="divperguntas">
          	<div>
          	{% if pergunta %}
	            <h2>{{ pergunta.titulo }}</h2>
				<h4>{{ pergunta.descricao }}</h4>
				<h6>Área: {{ pergunta.area }} 
				Autor: {{ pergunta.criador }} 
				Tags: 
				{% for tag in pergunta.palavrasChaves %}
					{{tag}}
				{% endfor %}</h6>
				<a class="btn btn-success" href="/qsabe/pergunta/{{pergunta.id}}/responder/"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Responder</span></font></a>
	        {% endif %}
	        </div>
            <div id="lgrespostas" class="list-group">
              <a href="#" class="list-group-item active">Respostas:</a>
              {% for resp in pergunta.resposta_set.all %}
              	<div id="lirespostas" class="list-group-item">
              		<div class="row">
              			<p class="col-xs-4 col-lg-10">{{resp.texto}} <br> (Fonte: {{resp.fonte}})</p>
              			<a class="col-xs-4 col-lg-2 btn btn-success btn-xs" href="/sabia/fichamento/{{fic.id}}/"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Gostei</span></font></a>
              		</div>
              		<div class="row">
              			<ul class="col-xs-4 col-lg-12">
              			{% for com in resp.comentario_set.all %}
              				<li> com </li>
              			{% endfor %}
              			</ul>
              		</div>
              		<div class="row">
              			<ul>
              			<li>
              			<input class="col-xs-4 col-lg-10" type="text" >
              			<a class="col-xs-4 col-lg-2 btn btn-success btn-xs" href="/sabia/fichamento/{{fic.id}}/"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Comentar</span></font></a>
              			</li>
              			</ul>
              		</div>
              	</div>
              {% endfor %}
              <a class="list-group-item active"></a>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-lg-4">
          <div id="divareas">
            <div id="lgareas" class="list-group">
              <a href="#" class="list-group-item active">Perguntas semelhantes:</a>
              {% for pe in pergunta.getTitulosSemelhantes %}
              <div id="liareas" class="list-group-item">{{pe.titulo}}
                <a class="btn pull-right btn-default btn-xs" href="/qsabe/pergunta/{{pe.id}}/"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
              </div>{% endfor %}
              <a class="list-group-item active"></a>
            </div>
          </div>
          <div id="divartigos">
            <div id="lgartigos" class="list-group">
              <a href="#" class="list-group-item active">Artigos relacionados:</a>
              {% for art in artigos %}
              <div id="liartigos" class="list-group-item">{{art.titulo}}
                <a class="btn pull-right btn-default btn-xs" href="http://{{art.link}}"><i class="fa fa-file-o"></i><font face="FontAwesome"><span style="line-height: 15px;">&nbsp;Ver</span></font></a>
              </div>{% endfor %}
              <a class="list-group-item active"></a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <!-- Fim Corpo -->
{% endblock %}