{% extends "modelo.html" %}
<meta charset="utf-8" xmlns="http://www.w3.org/1999/xhtml">
{% block corpo %}
<!-- Corpo -->
<div class="container">
	<div class="row">
		<div class="col-xs-4 col-lg-12">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="panel panel-default top-margin-low1">
						<form class="form-signin" role="form" action="{% url 'goResponder' pergunta.id  %}" method="POST">
							{% csrf_token %}
							<div class="panel-body">
								<div>
					          	{% if pergunta %}
						            <h2>{{ pergunta.titulo }}</h2>
									<h4>{{ pergunta.descricao }}</h4>
									<h6>Área: {{ pergunta.area }} 
									Autor: {{ pergunta.criador }} 
									Tags: 
									{% for tag in pergunta.palavrasChaves %}
										{{tag}}
									{% endfor %}</h6>
						        {% endif %}
						        </div>
								Sua resposta:<br>
								<textarea name="tbxresposta" rows="3" id="tbxresposta"
									class="form-control" style="height: 200px; width: 100%;"
									placeholder="Resposta de forma clara e objetiva"></textarea>
								<br> Fontes:<br> <input name="tbxfonte" id="tbxfonte"
									type="text" class="form-control"
									placeholder="Informa as fontes utilizadas para esta resposta">
								<br>
								<button class="btn btn-primary" type="submit">
									<i class="fa fa-comments"></i> Responder
								</button>
							</div>
							<div></div>
							<div></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Fim Corpo -->
{% endblock %}
